@media (min-width: 768px)
{
    .destop-header {
        width: 100%;
        height: 60px;
        background: #4C0B5F;
    }
    .destop-header .destp-header-logo
    {
        margin-left: -41px;
        padding-top: 12px;
    }
    .destop-header .destp-header-logo .destop-image
    {
           height: 40px;
           
    }
    .destop-header .destop-btn
    {
        padding-top: 10px;
        margin-left: 28px;
    }
    .destop-header .destop-btn .destop-btn-input
    {
        width: 100%;
        height: 40px;
    }
    .destop-header .destop-btn .destop-btn-submit
    {
        margin-left: -79px;
        height: 40px;
        width: 51px;
    }
    .khungapi
    {
        margin-left: -50px;
    }
    .tenbhht
    {
        font-size: 19px;
    }
    .tentgth
    {
        font-size: 13px;
        padding-top: 13px;
        
    }
    .linkbh {
        margin-left: 99px;
        font-size: 19px;
    }
    .apibh {
        padding-top: 20px;
    }
    .test {
        margin-left: -98px;
    }
    .dstk
    {
        margin-left: -93px;
    }
    .mobile
    {
        display: block;
    }
    
    .destop
    {
        display: none;
    }
}
@media (min-width: 1200px)
{
    .destop-header {
        width: 100%;
        height: 60px;
        background: #4C0B5F;
    }
    .destop-header .destp-header-logo
    {
        margin-left: -13px;
        padding-top: 12px;
    }
    .destop-header .destp-header-logo .destop-image
    {
           height: 40px;
           
    }
    .destop-header .destop-btn
    {
        padding-top: 10px;
    }
    .destop-header .destop-btn .destop-btn-input
    {
        width: 100%;
        height: 40px;
    }
    .destop-header .destop-btn .destop-btn-submit
    {
        margin-left: -52px;
        height: 40px;
        width: 51px;
    }
    .test {
        margin-left: 0;
    }
    .slide-image .image-slide
{
    width: 100%;
}
    .khungapi
{
    margin-left: -120px;
}
.tenbhht
{
    font-size: 19px;
}
.tentgth
{
    font-size: 13px;
    padding-top: 13px;
    
}
.linkbh {
    margin-left: 99px;
    font-size: 19px;
}
.apibh {
    padding-top: 20px;
}
.dstk
    {
        margin-left: 0;
    }
    .destop
    {
        display: block;
    }
    .mobile
    {
        display: none;
    }
}
