
.destop-header .danhmuc {
    padding-top: 18px;
    font-size: 18px;
    height: 58px;
    width: 100%;
    cursor: pointer;
}
.destop-header .danhmuc .mp3
{
    padding-left: 12px;

}
.destop-header .danhmuc .new
{
    padding-left: 8px;
}
.destop-header .danhmuc .zing
{
    padding-left: 12px;
}
.destop-header .danhmuc:hover
{
    background: black;
}
.destop-header .dangnhap .logouser .image-user
{
    width: 45px;
    height: 45px;
}
.destop-header .dangnhap .logouser {
    padding-top: 8px;
}
.txtdangnhap {
    font-size: 18px;
    color: white;
    padding-top: 17px;
    cursor: pointer;
}
.slide-image {
    margin-left: -15px;
}
/* .slide-image .image-slide
{
    width: 100%;
} */
img.video-image
{
    width: 277px;
    height: 209px;
    padding-left: 38px; 
}
.video
{
    width: 277px;
    height: 209px;
    padding-left: 38px;
}
/* .video-left
{
    width: 277px;
    height: 209px;
    margin-left: -37px;
}
.video-right
{
    width: 277px;
    height: 209px;
    padding-left: 37px;
    margin-left: 72px;
} */
.slide-video {
    width: 1155px;
    position: relative;
}
.text-nhan {
    font-size: 20px;
    padding-bottom: 13px;
    color: blue;
}
img.image-100 {
    width: 280px;
    float: left;
    padding-left: 40px;
}
.destop img.image-baihat {
    width: 43px;
}
.row.khungten {
    margin-left: -49px;
}
.tencasi {
    font-size: 14px;
    color: gray;
}

.baihat
{
    cursor: pointer;
    padding-top: 8px;
}
.baihat:hover
{
    background: whitesmoke;
}
.baihat1
{
    border-right: 1px solid whitesmoke;
}
img.image-mv1 {
    width: 100%;
}
.mv {
    margin-left: -17px;
}
img.image-mv2 {
    width: 100%;
}
.ndmv {
    padding-top: 8px;
}
.tgmv {
    color: gray;
    padding-top: 10px;
}
.row.mv3 {
    padding-top: 24px;
}



/* mobile */
i.fas.fa-bars.icon-menu {
    font-size: 30px;
    color: white;
}
.mobile-menu {
    padding-top: 14px;
    padding-left: 85px;
}
.menu-mobile1
{
    width: 238px;
    height: 20%;
    background: white;
    z-index: 1;
    position: absolute;
    right: 0px;
    opacity: 0;
}
.hienmenu
{
    opacity: 1;
}
.mobile.slide-image1 {
    width: 103%;
    margin-left: -13px;
}
.tenmenu {
    padding-top: 82px;
    position: relative;
    
}
.tenmenu:hover
{
    width: 100%;
    height: 50px;
    background: grey;
    color: white;
}
.tenmenu .p1{
    position: absolute;
    top: 39px;
    left: 93px;
}
.tenmenu .p2{
    position: absolute;
    top: 39px;
    left: 93px;
}
.tenmenu .p3{
    position: absolute;
    top: 39px;
    left: 93px;
}
.tenmenu .p4{
    position: absolute;
    top: 39px;
    left: 93px;
}

.csnb
{
    width: 181px;
}
.tencsnb {
    padding-left: 52px;
    padding-top: 17px;
}
.kccsnb
{
    padding-left: 49px;
}
footer.footer {
    height: 81px;
    background: white;
}
.mobile-bhnb
{
    margin-left: 20px;
}